main {
  height: 90vh;
}
.cart {
  width: 803px;
}
.cart img {
  width: 183px;
  height: 180px;
}
.cart span {
  color: var(--secondaryShade1);
}
.cart button {
  border: 1px solid #3f51b5;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 261px;
  height: 44px;
  background: var(--secondaryShade1);
  color: white;
}
