.shipping-method,
.payment,
.payment2,
.accept,
.order,
.back,
.verify-head,
.verify-p {
    font-family: "Montserrat";
    font-style: normal;
}

.smallSpan {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.text-underline {
    text-decoration: underline;
}

.shipping-method,
.payment,
.accept,
.order {
    font-weight: 600;
    font-size: 24px;
}

.verify-p {
    font-weight: 600;
    font-size: 16px;
}

.verify-head {
    font-weight: 1000;
    font-size: 20px;
}

.flex {
    display: flex;
}

#phonenumber,
.num {
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #fafafa;
    border: none;
    outline: none;
}

.num {
    border-right: 2px solid #ccc;
}

button,
.button {
    width: 100%;
}

.form-control {
    background-color: #fafafa;
}

.otp-row {
    justify-content: center;
}

input.otp {
    background: #fafafa;
    width: 30px;
    margin: 0 0.3rem;
}

.blue {
    color: #3f51b5;
}

.center {
    margin: auto;
    justify-content: center;
}

.err-section {
    margin-right: 5rem;
    border: 2px solid #dc3545;
    border-radius: 50%;
    padding: 0.37rem 0.5rem;
    font-size: 10px;
    background: #6c757d;
    color: #dc3545;
    position: relative;
}

.err-section::before {
    content: "";
    width: 80px;
    border: 1px solid #6c757d;
    position: absolute;
    left: calc(100% + 3px);
    top: 50%;
}

.icons-verify {
    width: 30px;
    height: 25px;
    position: relative;
    left: 50%;
    text-align: center;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 800;
}

.section {
    border: 2px solid #3f51b5;
    border-radius: 50%;
    padding: 0.37rem 0.5rem;
    font-size: 10px;
    background: #fff;
    color: #3f51b5;
    position: relative;
}

.section::before {
    content: "";
    width: 80px;
    border: 1px solid #3f51b5;
    position: absolute;
    left: calc(100% + 3px);
    top: 50%;
}

.sec1,
.sec2 {
    margin-right: 5rem;
}

.sec3::before {
    width: 0;
}

.active-sec {
    background: #3f51b5;
    color: #fff;
}

.err-active-sec {
    background: #dc3545;
    color: #fff;
}

.payment2 {
    color: #3f51b5;
    font-weight: 600;
    font-size: 40px;
}

.btn {
    background: #3f51b5;
    color: #fff;
}

.big-btn {
    width: 50%;
}

.accept {
    font-weight: 600;
    font-size: 18px;
}

.back {
    font-weight: 400;
    font-size: 18px;
}

.fixedDiv {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}

.confirm3,
.confirm2,
.error,
.success {
    position: relative;
    background-color: #fff;
    top: 25%;
    left: 25%;
    width: 50%;
    height: fit-content;
    margin-bottom: 1rem;
    padding: 2rem;
}

.checkDiv {
    position: relative;
    max-width: 100%;
    margin: 0 17%;
}

.confirm3 {
    text-align: center;
}

.none {
    display: none;
}

.index {
    z-index: 6666;
}

.centerCheck {
    max-width: 50px;
    max-height: 50px;
    margin: 0.25rem auto 2rem;
}

.check {
    border-radius: 50%;
    width: 30px;
    font-size: 3rem;
    font-weight: 800;
    height: 25px;
}

@media (min-width: 564px) {
    .s-btn,
    .b-btn,
    .hide-at-big-screen {
        display: none;
    }
    #FirstBtnCheck {
        margin-top: -2rem;
        width: 25%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 1200px) {
    .confirm2,
    .confirm3,
    .error,
    .success {
        min-width: 70%;
        left: 15%;
    }
}

.mx-auto {
    position: relative;
    display: flex;
    max-width: 50%;
    justify-content: space-between;
}

.form-check-inline {
    margin-left: 2rem;
}

@media (max-width: 800px) {
    .checkDiv {
        margin: 0 1rem;
    }
}

@media (max-width: 564px) {
    .confirm2 {
        top: 10%;
    }
    .section,
    .err-section {
        margin-right: 2rem;
    }
    .section::before,
    .err-section::before {
        width: 40px;
    }
    .sec3::before {
        width: 0;
    }
    #FirstBtnCheck {
        margin-top: 2rem;
        width: 80%;
        margin: auto;
        margin-bottom: 3rem;
    }
    .padding {
        padding: 0 3rem;
    }
    .big-btn {
        width: 100%;
    }
    .mx-auto {
        max-width: 100% !important;
    }
    .billing,
    .flex {
        padding-left: 1.5rem;
    }
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .hide-at-big-screen {
        display: block;
    }
    .mother-p,
    .mother-b,
    .p-btn,
    .hide-at-small-screen {
        display: none;
    }
    .checkDiv {
        margin: 0;
    }
    .confirm2,
    .confirm3,
    .error,
    .success {
        left: 3.5%;
        min-width: 90%;
    }
}