*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.btn{
    background-color: var(--secondaryShade1);
    color:var(--whiteShade1)
}

.btn:hover{
    color:var(--whiteShade1)
}

.contactInfo, .addressInfo{
    background-color: var(--whiteShade2);
}

.accountInfo, .addressBook{
    color:var(--secondaryShade1);
}

.button{
    right:80px;
    top:100px;
    border: 1px solid var(--secondaryShade1);
    border-radius:5px ;
    color:var(--secondaryShade1);
    font-size: 18px;
}