*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.login{
    display:none;
}

.show{
    display:block;
}

.hide{
    display:none;
}

.active{
    background-color: var(--secondaryShade1);
    color:#fff;
}

.inactive{
    background-color: var(--whiteShade2);
    color:var(--secondaryShade1);
}

.form-container{
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    background-color: var(--whiteShade4);
}


.btn{
   color:var(--whiteShade1);
   background-color:var(--secondaryShade1) ;
}
.btn:hover{
    color:#fff
}

.eye{
    top:8px;
    right: 10px
}

.open{
    display:none;
}

.fa-solid{
    color:#8f8f8f
}

.lines::before{
    content:"";
    position:absolute;
    left:5px;
    top:10px;
    height:2px;
    width:45%;
    background-color:#b8b8b8;
}

.lines::after{
    content:"";
    position:absolute;
    right:5px;
    top:10px;
    height:2px;
    width:45%;
    background-color:#b8b8b8;
}

.paragraph{
    font-size: clamp(12px,2vw,18px);
    color:#363636
}

.label{
    font-size: clamp(16px,2vw,18px);
    color:var(--primaryShade1)
}

.para{
    font-size: clamp(15px,2vw,18px);
    color:var(--primaryShade1)
}

input{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
}

.form-container h4{
    font-size: clamp(24px,2vw, 40px);
    color:var(--primaryShade1)
}

@media(max-width:426px){
    .lines::before{
        width:35%
    }
    .lines::after{
        width:35%
    }
    
}

@media(max-width:769px){
    .lines::after{
        width:40%
    }

    .lines::before{
        width:40%
    }
}